<div class="flex flex-col w-full">
  <input (change)="selectFile($event)" class="block w-2/3 mb-5 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="small_size" type="file">

  <form class="flex flex-col w-2/3 mx-2 relative" [formGroup]="configFormGroup" (ngSubmit)="startRender()">
    <fieldset>
      <label>Scene</label>
      <input type="text" placeholder="Scene" formControlName="scene"/>
    </fieldset>
    <fieldset>
      <label>Samples</label>
      <input type="number" placeholder="Samples" formControlName="samples"/>
    </fieldset>
    <fieldset>
      <label>Percentage</label>
      <input type="number" placeholder="Percentage" formControlName="percentage"/>
    </fieldset>
    <fieldset>
      <label>Start frame</label>
      <input type="number" placeholder="Start frame" formControlName="startframe"/>
    </fieldset>
    <fieldset>
      <label>End frame</label>
      <input type="number" placeholder="End frame" formControlName="endframe"/>
    </fieldset>
    <fieldset>
      <label>Breakpoint</label>
      <input type="number" placeholder="Breakpoint" formControlName="breakpoint"/>
    </fieldset>

    <button type="submit" class="absolute -right-40 ml-auto bottom-2" mat-mini-fab color="primary">
      <mat-icon>play_arrow</mat-icon>
    </button>
  </form>
</div>