<div class="flex flex-col items-center justify-center flex-1">
  <div [ngClass]="{'hovering': state.hoverState === 'hover'}" class="render-drop-zone flex flex-col items-center p-[24px] min-w-[460px] min-h-[240px] border-dashed border-[#017EF0] border rounded-[5px] mb-[24px] box-border">
    <img src="assets/img/file-icon.svg" class="w-[80px] h-[80px] mb-[24px]" alt="file icon">
    <p (click)="fileInput.click()" *ngIf="!state.file" class="text-center text-[#888888] max-w-[250px] cursor-pointer">Click to browse or drag and drop your blender file</p>
    <div *ngIf="state.file" class="file w-full  flex flex-col items-center">
      <div class="file-wrapper p-[6px] w-full">
        <p class="text-center text-[#888888] text-[14px] max-w-[250px]">{{state.file ?? file?.name}}</p>
        <button (click)="removeFile()" class="bg-[url('/assets/img/cancel-icon.svg')] bg-no-repeat bg-center w-[16px] h-[16px] ml-auto"></button>
      </div>
      <button (click)="removeFile()" class="inline-flex gap-2 mt-2 items-center text-[#3291FF]">
        Replace file
        <img src="assets/img/refresh-icon.svg" alt="refresh">
      </button>
    </div>
  </div>
  <input #fileInput (change)="selectFile($event)" class="hidden" id="small_size" type="file">

  <div class="flex flex-col items-center w-full">
    <button (click)="startRender()" class="bottom-2 w-[460px]" mat-raised-button color="primary">
      Start rendering
    </button>
  <!--  <p (click)="showAdvancedSettings()" class="text-center text-xs hover:cursor-pointer hover:underline">Advanced settings</p>-->
  </div>
</div>

<a routerLink="jobs" class="render-queue inline-flex items-center text-[#3291FF]">
  <img src="assets/img/render-queue-icon.svg" class="w-[24px] h-[24px] mr-[8px]" alt="queue icon">
  <p>Render queue</p>
</a>

<ng-template #advanceSettings>
  <form class="flex flex-col mx-2 mt-4 relative" [formGroup]="configFormGroup">
    <fieldset>
      <label>Scene</label>
      <input type="text" placeholder="Scene" formControlName="scene"/>
    </fieldset>
    <fieldset>
      <label>Samples</label>
      <input type="number" placeholder="Samples" formControlName="samples"/>
    </fieldset>
    <fieldset>
      <label>Percentage</label>
      <input type="number" placeholder="Percentage" formControlName="percentage"/>
    </fieldset>
    <fieldset>
      <label>Start frame</label>
      <input type="number" placeholder="Start frame" formControlName="startframe"/>
    </fieldset>
    <fieldset>
      <label>End frame</label>
      <input type="number" placeholder="End frame" formControlName="endframe"/>
    </fieldset>
    <fieldset>
      <label>Breakpoint</label>
      <input type="number" placeholder="Breakpoint" formControlName="breakpoint"/>
    </fieldset>
    <button (click)="closeDialog()" mat-raised-button class="w-full" color="accent">Close</button>
  </form>
</ng-template>