<h1 class="title">AWS Credentials</h1>
<form (ngSubmit)="save()" [formGroup]="awsFormGroup" class="flex flex-col gap-2 w-2/3">
  <fieldset>
    <label for="accessKey">Access Key</label>
    <input id="accessKey" formControlName="AWS_ACCESS_KEY_ID" placeholder="Access Key" type="text">
  </fieldset>
  <fieldset>
    <label for="secretKey">Secret Key</label>
    <input id="secretKey" (focusin)="secretFieldType = 'text'" (focusout)="secretFieldType = 'password'" formControlName="AWS_SECRET_ACCESS_KEY" placeholder="Secret Key" [type]="secretFieldType">
  </fieldset>

  <select name="awsRegions" id="awsRegions" formControlName="AWS_REGION">
    <option *ngFor="let region of awsRegions" [value]="region">{{region}}</option>
  </select>

  <button *ngIf="!state.loading" type="submit" class="btn btn-blue">Save</button>
</form>
