<header class="flex items-center justify-center mb-[40px]">
  <h1 class="text-[24px] font-bold select-none">Render queue</h1>
</header>
<div class="overflow-y-auto min-w-[600px] min-h-[400px] bg-[#22262B] rounded-[10px]">
  <ng-container *ngIf="state.jobs?.data as jobs">
    <rndr-job-item (onMenuOpened)="closeOtherMenus($event)" *ngFor="let job of jobs" [job]="job"></rndr-job-item>
  </ng-container>
</div>

<a routerLink="/" class="render-queue inline-flex items-center text-[#3291FF] mt-auto">
  <img src="assets/img/render-queue-icon.svg" class="w-[24px] h-[24px] mr-[8px]" alt="queue icon">
  <p>Queue new render</p>
</a>
