<div class="controls flex items-center space-x-2">
  <div (click)="close()" class="close w-[10px] h-[10px] bg-[#656565] rounded-full cursor-po
  inter"></div>
  <div (click)="minimize()" class="minimize w-[10px] h-[10px] bg-[#656565] rounded-full cursor-pointer"></div>
  <div (click)="toggleMaximize()" class="maximize w-[10px] h-[10px] bg-[#656565] rounded-full cursor-pointer"></div>
</div>

<div class="toolbar-title w-fit mx-auto flex items-center justify-center">
  <p class="uppercase font-bold">rndr</p>
</div>
