<div *ngIf="state.missingDeps" class="content flex flex-col justify-center items-center">
  <h1 class="text-2xl mb-4 font-extrabold">Missing dependencies</h1>
  <ul>
    <ng-container *ngIf="!state.missingDeps.aws" [ngTemplateOutlet]="noAws"></ng-container>
    <ng-container *ngIf="!state.missingDeps.docker" [ngTemplateOutlet]="noDocker"></ng-container>
    <ng-container *ngIf="!state.missingDeps.git" [ngTemplateOutlet]="noGit"></ng-container>
    <ng-container *ngIf="!state.missingDeps.python" [ngTemplateOutlet]="noPython"></ng-container>
    <li class="p-2">
      <button class="w-full" mat-raised-button color="accent" (click)="close()">Close</button>
    </li>
  </ul>
</div>

<ng-template #noAws>
  <li class="p-2">
    <h2 class="text-lg mb-2 font-bold">AWS cli is not installed</h2>
    <p class="hover:underline hover:cursor-pointer" (click)="showInstallationInfo('aws')">Install the AWS cli and try again</p>
  </li>
</ng-template>
<ng-template #noDocker>
  <li class="p-2">
    <h2 class="text-lg mb-2 font-bold">Docker is not installed</h2>
    <p class="hover:underline hover:cursor-pointer" (click)="showInstallationInfo('docker')">Install Docker and try again</p>
  </li>
</ng-template>
<ng-template #noGit>
  <li class="p-2">
    <h2 class="text-lg mb-2 font-bold">Git is not installed</h2>
    <p class="hover:underline hover:cursor-pointer" (click)="showInstallationInfo('git')">Install Git and try again</p>
  </li>
</ng-template>
<ng-template #noPython>
  <li class="p-2">
    <h2 class="text-lg mb-2 font-bold">Python is not installed</h2>
    <p class="hover:underline hover:cursor-pointer" (click)="showInstallationInfo('python')">Install Python and try again</p>
  </li>
</ng-template>
